# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.out
*.aux
*.fdb_latexmk
*.log
*.synctex.gz
*.bbl
*.blg
*.fls
*.pem
.DS_Store
plots/
condor/
data/
experiments/data/
.Rapp.history

# C extensions
*.so
*.o

# Distribution / packaging
.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/

# debugging jupyter notebooks
pyhrt/*.ipynb*
examples/timing/experimental.py

